@model ProductsListViewModel

@foreach (var p in Model.Products)
{
<div class="container">
    <h3>Name: @p.Name</h3>
    Description: @p.Description
    <h4>Price: @p.Price.ToString("c")</h4>
</div>
}

<div class="page-style">
    Pages
    <hr />
    <div page-model="@Model.PagingInfo" page-action="List" class="padding"></div>
</div>
